 h2 {
    font-size: 2rem;
  }

.store ul {
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.store li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: #f2ece8;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 400px;
    text-align: center;
    padding: 5px;
  }  
  
  .store button {
    background-color: #6a6446;
    color: white;
    border:none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .button:hover {
    background-color: #666;
  }

  .store img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
    }
    
    .store h2 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    .store p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    }
  
  .pedidos-container {
    display: flex;
    justify-content: space-between; /* Alinea los elementos de manera que haya espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
} /* Esto permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */

  
  .pedido-item {
    flex-grow: 1; /* Espacio entre cada pedido */
  }
  .inicio-vendedor-container{
    align-items: center;
  }
