.pedido li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 7000px;
    background-color: #f2ece8;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 700px;
    text-align: center;
    padding: 5px;
    flex-grow: 1;
 /* Alinea los elementos de manera que haya espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
} /* Esto permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */

  .inicio-vendedor-container{
    align-items: center;
  }

  .pedido button{
    background-color: #6a6446; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 8px;
  }

  .imagen-pequeña {
    margin-right: 10px;
    width: 60px; /* Ancho deseado */
    height: 60px; /* Para mantener la proporción */
  }

  .store-vendedor {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    display: inline-block;
    width: calc(33.33% - 20px); /* Ajusta el ancho según el número de productos por fila */
    margin: 10px; /* Espacio entre productos */
  }
  
  