h2 {
    font-size: 2rem;
  }
.producto ul {
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.producto li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #cbcbcb;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 400px;
    text-align: center;
    padding: 5px;
  }  
  .producto select{
    padding: 5px 10px;
  }
  .producto button {
    background-color: #6a6446;
    color: white;
    border:none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .botonCarrito{
    position: absolute;
    top: 200px; /* Ajusta la distancia desde la parte superior */
    right: 80px; /* Ajusta la distancia desde la derecha */
    padding: 20px 40px; /* Ajusta el espacio interno del botón */
    font-size: 12px; /* Ajusta el tamaño del texto */
    
  }
  .botonCarrito img{
    padding: 5px;
  }

  button:hover {
    background-color: #666;
  }

  .producto img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
    }
    
    .producto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    .producto p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    }
    
