h2 {
    font-size: 2rem;
  }

  ul {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #cbcbcb;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    padding: 5px;
  }  
  
  .store button {
    background-color: #6a6446;
    color: white;
    border:none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background-color: #666;
  }

  .store img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
    }
    
    .store h2 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    .store p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    }
    
