.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .apartado {
    margin-bottom: 10px; /* Espacio entre grupos de campos */
    font-size: 20px;
  }
  
.parametro_registro_comprador{
    flex-basis: 120px; /* Ancho del label */
    margin-right: 10px; /* Espacio entre label e input */
  }

  button[type="submit"] {
    width: 150px; /* Establece un ancho fijo para el botón */
  }

.inicio_registro {
    font-size: 24px; /* Establece el tamaño de la fuente en 24px */
  }
  
  